.root {
    -fx-background-image: url("../../imgs/cardsTable.jpg");
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
    -fx-font-smoothing-type: lcd;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0.5,0,1 );
}

.button {
	-fx-text-fill: white;
	-fx-font-size: 12px;
    -fx-background-color: linear-gradient( #808080, black );
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient( black, #808080 );
}